<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body' >
            <div class='row'>
                    <div class='col-md-2'>Filtrar por fecha:</div>
                    <div class='col-md-4'>
                        <input type='date' [(ngModel)]='fecha' />
                        <button  (click)="filtrar1()" >Filtrar</button>
                    </div>
                </div>
       
        <div class='table-responsive' >
            <table class='table'
                    *ngIf='boleta && boleta.length'>
                <thead>
                    <tr>
                    
                        <th>id de Boleta</th>
                        <th>IDCliente</th>
                        
                        <th>NombreCliente</th>
                        <th>Fecha de boleta</th>
                        <th>Total </th>
                    </tr>
                </thead>
                <tbody>
                        
<tr *ngIf="!boleta">
    <td colspan="5"> Loading Data please wait ...</td>
</tr>
   
                    <tr *ngFor='let boleta of boleta' >
                        <td>{{ boleta.idbol}}</td>
                        <td>{{ boleta.IDCliente}}</td>
                        <td>{{ boleta.NombreCliente}}</td>
                        <td>{{ boleta.fechabol}}</td>
                        <td>{{ boleta.total}}</td>
                       
                    </tr>
                </tbody>
            </table>
            <div  class="text-right" style="font-size:18px ; margin-right:80px">Total de ventas diario:</div>
            <div class="text-right">
                
                <input style="border-color:cyan;border-radius:7px; background-color:lavender ; margin-left:12px" type="text"
                    value= {{totalf}}  readonly/> </div>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
